

ul {
  padding-left: 0;
  display: inline-block;
}

li {
  display: inline-block;
  color: white;
  padding-right: 15px;
  font-size: 18px;
  margin-bottom: 10px;
}

.jumbotron {
  background: url('../img/contact-splash.jpg') no-repeat center center;
}

.main button {
  background-color: #F28C83;
  color: white;
  border-radius: 0;
  border: 0
}

.main button:hover {
  background-color: #F3978F;
  color: white;
}

.main span {
  padding-right: 10px;
}

.inner-addon {
  position: relative;
}

i {
  position: absolute;
}

.addon i {
  left: 15px;
  top: 10px;
  font-size: 24px;
  color: #e5e5e5;
  opacity: 0.5;
}

.addon input {
  padding-left: 45px;
}

.addon input:focus {
  border-bottom: 5px solid #F28C83;
  border-radius: 0;
}



.addon textarea {
  padding-left: 45px;
}

.addon textarea:focus {
  border-bottom: 5px solid #F28C83;
  border-radius: 0;
}





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 600px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}





