


#item-pic {
  display: block;
  width: 600px;
}

.portfolio-main {
  font-size: 18px;
}

.other-projects .thumbnail {
  width: 300px;
  height: 190px;
  overflow: hidden;
}

.other-projects img {
  width: 280px;
  height: 180px;
}

.project-item {
  margin-bottom: 50px;
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 600px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}





